In [1]:
# str
# list
# tuple
# dict

# String

In [1]:
str1 = 'thank god..  \n thanks.. \n okay{price}'

In [3]:
str1.capitalize()

'Thank god..  \n thanks.. \n okay{price}'

In [14]:
str1.count('thank')

2

In [17]:
str1.find('k')

4

In [20]:
str1.format(price=50)

'thank god..  thanks.. okay50'

In [22]:
str1.index('god')

6

In [35]:
str1.rstrip()

'thank god..  thanks.. okay{price}'

In [36]:
str1.replace('thank', 'heyy')

'heyy god..  heyys.. okay{price}'

In [45]:
str1.split('.')

['thank god', '', '  \n thanks', '', ' \n okay{price}']

In [46]:
str1.splitlines()

['thank god..  ', ' thanks.. ', ' okay{price}']

In [48]:
str1.strip()

'thank god..  \n thanks.. \n okay{price}'

In [4]:
str1.upper()

'THANK GOD..  \n THANKS.. \n OKAY{PRICE}'

In [6]:
str1.split('x')

['thank god..  \n thanks.. \n okay{price}']

# List

In [8]:
l1 = [1,2,'a','b','cde',['p','q']]

In [9]:
l1.append('s')

In [10]:
print(l1)

[1, 2, 'a', 'b', 'cde', ['p', 'q'], 's']

In [14]:
l1.append(['sahil'])

In [18]:
l1

[1, 2, 'a', 'b', 'cde', ['p', 'q'], 's', 'k', 'k', ['sahil']]

In [20]:
l2= [10,2,3,2,1,'v','q','z']

In [22]:
set(l2)

{1, 10, 2, 3, 'q', 'v', 'z'}

In [24]:
l1.extend(l2)

In [26]:
l1

[1,
 2,
 'a',
 'b',
 'cde',
 ['p', 'q'],
 's',
 'k',
 'k',
 ['sahil'],
 10,
 2,
 3,
 2,
 1,
 'v',
 'q',
 'z',
 10,
 2,
 3,
 2,
 1,
 'v',
 'q',
 'z']

In [28]:
l1.insert(2,'Kapoor')

In [32]:
l1

[1,
 2,
 'Kapoor',
 'a',
 'b',
 'cde',
 ['p', 'q'],
 's',
 'k',
 'k',
 ['sahil'],
 10,
 2,
 3,
 2,
 1,
 'q',
 'z',
 10,
 2,
 3,
 2,
 1,
 'v',
 'q',
 'z']

In [31]:
l1.remove('v')

In [35]:
l1.pop(2)

'a'

In [36]:
l1

[1,
 2,
 'b',
 'cde',
 ['p', 'q'],
 's',
 'k',
 'k',
 ['sahil'],
 10,
 2,
 3,
 2,
 1,
 'q',
 'z',
 10,
 2,
 3,
 2,
 1,
 'v',
 'q']

In [41]:
l1.index('k',7)

7

In [44]:
l1.count('q')

2

In [50]:
l3=['q','w','t','a','o','b','a','e']

In [51]:
l3.sort(reverse=True)

In [52]:
l3

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a']

In [53]:
l3[2:]

['q', 'o', 'e', 'b', 'a', 'a']

In [54]:
l3[2:4]

['q', 'o']

In [55]:
l4=l3

In [56]:
l4

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a']

In [57]:
l4.append('x')

In [58]:
l4

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a', 'x']

In [59]:
l3

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a', 'x']

In [60]:
l3[:]

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a', 'x']

In [61]:
l5=l3[:]

In [62]:
l5

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a', 'x']

In [63]:
l5.remove('x')

In [64]:
l5

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a']

In [65]:
l3

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a', 'x']

In [67]:
l6=l3.copy()

In [68]:
l6

['w', 't', 'q', 'o', 'e', 'b', 'a', 'a', 'x']

In [69]:
squares=[x**2 for x in range(5)]

In [70]:
squares

[0, 1, 4, 9, 16]

In [73]:
for x in range(6):
    squares.append(x**2)

In [85]:
squares

[0, 1, 4, 9, 16, 0, 1, 4, 9, 16, 0, 1, 4, 9, 16, 25]

In [75]:
abc = ['e' for x in squares]

In [76]:
abc

[0, 4, 16, 0, 4, 16, 0, 4, 16]

In [89]:
ABC = ['e' if x%2==0 else 'o' for x in squares]

In [90]:
ABC

['e',
 'o',
 'e',
 'o',
 'e',
 'e',
 'o',
 'e',
 'o',
 'e',
 'e',
 'o',
 'e',
 'o',
 'e',
 'o']

In [79]:
xy=[]
for x in squares:
    if x%2==0:
        xy.append('e')
    else:
        xy.append('o')

In [80]:
xy

['e',
 'o',
 'e',
 'o',
 'e',
 'e',
 'o',
 'e',
 'o',
 'e',
 'e',
 'o',
 'e',
 'o',
 'e',
 'o']

In [86]:
s= 'a'
if s=='a':
    s='s1'
else :
    s='s2'

In [87]:
s

's1'

In [88]:
'a' if s=='s1' else 's'

'a'

In [95]:
l=[[1,2],[2,3],[4,5],[6,7]]

In [96]:
for a in range(len(l)):
    for b in range(len(l[a])):
        if l[a][b]%2==0:
            l[a][b]='e'
        else:
            l[a][b]='o'
            
l

[['o', 'e'], ['e', 'o'], ['e', 'o'], ['e', 'o']]

In [120]:
l=[[1,2,4,5],[2,3],[4,5],[6,7]]

In [121]:
l=[['e' if l[a][b]%2==0 else 'o' for b in range(len(l[a]))] for a in range(len(l)) ]

In [122]:
l

[['o', 'e', 'e', 'o'], ['e', 'o'], ['e', 'o'], ['e', 'o']]

# Tuples

In [124]:
t1 = ()

In [148]:
t1=1,2,3,[4,5,6]

In [149]:
t1

(1, 2, 3, [4, 5, 6])

In [129]:
a,b=1,2

In [133]:
a

(1, 2)

In [131]:
b

2

In [132]:
a=1,2

In [135]:
t1[3]

(4, 5, 6)

In [138]:
t1[3][2]=7

TypeError: 'tuple' object does not support item assignment

In [139]:
l1=list(t1)

In [146]:
l1.insert(6,8)

In [147]:
l1

[1, 2, 7, 7, 7, 3, 8, (4, 5, 6)]

In [150]:
t1[3][2]=9

In [151]:
t1

(1, 2, 3, [4, 5, 9])

# Sets

In [152]:
a={5,7,5,6,2,4}

In [156]:
a

{2, 4, 5, 6, 7}

In [161]:
b=[1,3,7,2,'a','e']
c=['a','e',1]
set(b)-set(c)

{2, 3, 7}

# Dictionary

In [34]:
a= {'Sahil':'Boy','Sakshi':'Girl','Varun':'Boy'}

In [8]:
a

{'Sahil': 'B', 'Sakshi': 'Girl', 'Varun': 'Boy'}

In [7]:
a['Sahil']='B'

In [9]:
Q1. Replace keys of dictionary a to get first 3 alphabets

SyntaxError: invalid syntax (<ipython-input-9-1b383a8d4948>, line 1)

In [10]:
a.keys()

dict_keys(['Sahil', 'Sakshi', 'Varun'])

In [11]:
a.values()

dict_values(['B', 'Girl', 'Boy'])

In [12]:
if 'Sahib' in a.keys():
    print(True)
else :
    print(False)

False

In [13]:
'Varun' in a.keys()

True

In [15]:
if 'Varun' in a.keys():
    if 'V' in 'Varun':
        print(True)

True

In [22]:
for i,j in a.items():
    print(i,':',j)

Sahil : B
Sakshi : Girl
Varun : Boy

In [23]:
a['Sahil']='Boy'

In [36]:
a

{'Sahil': ['Boy', 'Blue'],
 'Sakshi': ['Girl', 'Pink'],
 'Varun': ['Boy', 'Blue']}

In [35]:
for k,v in a.items():
    if v=='Boy':
        a[k]=[v,'Blue']
    else :
        a[k]=[v,'Pink']

In [29]:
ab=[1,2]

In [30]:
ab.append(3)

In [31]:
x=ab.append(4)

In [32]:
x

In [33]:
ab

[1, 2, 3, 4]

In [44]:
a

{'Sahil': ['B', 'Blue'], 'Sakshi': ['G', 'Pink'], 'Varun': ['B', 'Blue']}

In [38]:
for k,v in a.items():
    v[0]=v[0][0]

In [41]:
for k in a.keys():
    k=k[:3]

In [45]:
b= {k[:3]:v for k,v in a.items()}

In [46]:
b

{'Sah': ['B', 'Blue'], 'Sak': ['G', 'Pink'], 'Var': ['B', 'Blue']}

In [60]:
c={'Sahil':'Boy','Sakshi':'Girl','Varun':'Boy'}

In [62]:
for v in c.values():
    v=v[:1]
    print (v)

B
G
B

In [49]:
c

{'Sahil': 'Boy', 'Sakshi': 'Girl', 'Varun': 'Boy'}

In [52]:
a

{'Sahil': ['B', 'B'], 'Sakshi': ['G', 'P'], 'Varun': ['B', 'B']}

In [51]:
for v in a.values():
    v[1]=v[1][0]

In [53]:
#issue is list value is changing but String value is not changing in dictionary

In [54]:
s='abc '

In [56]:
s=s.rstrip()

In [3]:
l1=['a','b','c']

In [4]:
l1.append('d')

In [5]:
l1

['a', 'b', 'c', 'd']

In [6]:
l1=','.join(l1)

In [7]:
l1

'a,b,c,d'