In [2]:
import re

In [2]:
str1='Sahil is my name, your name is Sakshi'

In [8]:
re.match('.*name',str1)

In [9]:
re.search('.*name',str1)

In [6]:
re.findall(' ',str1)

[' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [23]:
str2= 'Hat rat map brat Brat bosat Start'

In [25]:
# Fetch all words ending with at
re.findall('b.*at',str2)

['brat Brat bosat']

In [53]:
str3 = 'aiiaa bcdabc'

In [55]:
re.findall('a*bc',str3)

['bc', 'abc']

In [ ]:
1) . is used to find every character in a string except new line
2) * is used for

In [83]:
str4= 'abc7845 678 735 567'

In [84]:
re.findall('\d',str4)

['7', '8', '4', '5', '6', '7', '8', '7', '3', '5', '5', '6', '7']

In [85]:
re.findall('\D',str4)

['a', 'b', 'c', ' ', ' ', ' ']

In [94]:
re.findall('\d{5,7}',str4)

[]

In [135]:
str5='''My name is Sahil, let's play PUBG
My name is Sakshi, let's play UNO
'''

In [127]:
re.search(r'is (\S+),.*play (\S+)',str5).group(1,2)

('Sahil', 'PUBG')

In [128]:
re.findall(r'is (\S+),',str5)

['Sahil', 'Sakshi']

In [118]:
temp1=re.findall(r'play (\S+)',str5)

In [119]:
d1={}

In [120]:
var=0
for temp in re.findall(r'is (\S+),',str5):
    d1[temp]=temp1[var]
    var+=1;

In [121]:
d1

{'Sahil': 'PUBG', 'Sakshi': 'UNO'}

In [122]:
re.findall(r"is (\S+), let's play (\S+)",str5)

[('Sahil', 'PUBG'), ('Sakshi', 'UNO')]

In [124]:
dict(re.findall(r"is (\S+), let's play (\S+)",str5))

{'Sahil': 'PUBG', 'Sakshi': 'UNO'}

In [136]:
# ^ - Matches the expression to it's right at the start of the string and breaks at \n
re.findall(r"^My",str5)

['My']

In [141]:
# $ - Matches the expression to it's left at the end of the string and breaks at \n
re.findall(r"UNO$",str5)

['UNO']

In [143]:
# . - Matches any character except line terminators like \n
re.findall(r"let's.",str5)                # it finds just one character next to let's

["let's ", "let's "]

In [156]:
# A|B - Matches expression A or B. If A is matched first, B is left untried
re.findall(r"\d{7}|\d{5}",'12 123 1234 12345')          # No digit is of length 7, so it goes to digit with length 5

['12345']

In [165]:
s=re.findall(r"[2]\d",'12 1234 12345')
print(s)        
# It matches the digits by taking the starting point as 2 in a digit and including just one digit after 2

# + - Greedily matches the expression to its left 1 or more times
s= re.findall(r"[2]\d+",'12 1234 12345')  
print(s)
# It matches the digits by taking the starting point as 2 in a digit and including all the digits after 2

['23', '23']
['234', '2345']

In [172]:
# + - Greedily matches the expression to its left 1 or more times.
s=re.findall(r"[a]\d+",'abc 1234 fe56')
print(s)
''' It matches the character 'a' and because we have used + after \d,
so it is not able to find any digit after 'a' occurring even once,
So it's returning empty list  ''' 

# * - Greedily matches the expression to its left 0 or more times.
s=re.findall(r"[a]\d*",'abc 1234 fe56')
print(s)
# It matches the character 'a' and because we have used * after \d so even if the occurrence of a digit is 0, it will give us 'a'

[]
['a']

In [190]:
''' ? - Greedily matches the expression to its left 0 or 1 times.
But if ? is added to qualifiers (+, *, and ? itself) it will perform matches in a non-greedy manner. '''
re.findall(r"n\S*e?",'name, name! nabbae12 namenamename')

['name,', 'name!', 'nabbae12', 'namenamename']

In [196]:
# [amk] - Matches either a, m, or k. It does not match amk.
s=re.findall(r"[amk]",'abha mayank karan')
print(s)
s=re.findall(r"[amk]\S*",'abha mayank karan')
print(s)

['a', 'a', 'm', 'a', 'a', 'k', 'k', 'a', 'a']
['abha', 'mayank', 'karan']

In [201]:
# [^ab5] - Adding ^ excludes any character in the set. Here, it matches characters that are not a, b, or 5
s=re.findall(r"[^ab5]",'a bc c b de 1 5 5')
print(s)
s=re.findall(r"[^ab5]\S",'a bc c b de 1 5 5')
print(s)

[' ', 'c', ' ', 'c', ' ', ' ', 'd', 'e', ' ', '1', ' ', ' ']
[' b', ' c', ' b', ' d', ' 1', ' 5', ' 5']

In [ ]:
# \ - Escapes special characters or denotes character classes
''' 
\w - Matches alpha numeric characters. a-z, A-Z, and 0-9. It also matches the underscore, _
\d - Matches digits, which means 0-9
\D - Matches any non-digits
\s - Matches whitespace characters, which include the \t, \n, \r, and space characters
\S - Matches non-whitespace characters

'''

In [4]:
a='''10.254.254.58 - - [06/Aug/2007:00:10:05 -0700] "GET /edu/languages/google-python-class/images/puzzle/a-baaa.jpg HTTP/1.0" 200 2309 "-" "googlebot-mscrawl-moma (enterprise; bar-XYZ; foo123@google.com,foo123@google.com,foo123@google.com,foo123@google.com)"'''
re.findall('.*puzzle/(.*jpg).*', a)

['a-baaa.jpg']

In [203]:
from IPython.display import IFrame

url = 'https://www.dataquest.io/blog/regex-cheatsheet/'
IFrame(url, width=1000, height=400)

In [205]:
import webbrowser
url = 'https://www.dataquest.io/blog/regex-cheatsheet/'
# Open URL in a new tab, if a browser window is already open.
webbrowser.open_new_tab(url)

True

In [5]:
str1='a-baaa.jpg'
str2='b-abaa-abac.jpg'

In [6]:
print(str1)

a-baaa.jpg

In [10]:
str1.split('-')[-1:]

['baaa.jpg']

In [11]:
str2.split('-')[-1:]

['abac.jpg']